@font-face {
    font-family: "Kanit";
    src: url(../font/Kanit-Regular.ttf);
}

body, h1, p, button, input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: #333333;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 1%;
    margin-top: 1%;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 1%;
    margin-left: 3%;
    color: #176090;
    font-size: 32px;
}

input {
    display: inline-flex;
    width: 30%;
    padding: 16px 18px;
    margin-left: 3%;
    border: 1px solid #3498db;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    background-color: rgba(105, 105, 105, 0.31);
    color: #fff;
    transition: 0.2s;
}

input::placeholder {
    font-size: 16px;
    color: #ffffff61;
}

input:focus {
    transition: 0.2s;
    border: 1px solid #256d9c !important;
}

button {
    display: inline-flex;
    color: #fff;
    padding: 16px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    overflow: hidden;
    position: relative;
    transition: all .65s;
    background: #2978add1;
    border-radius: 5px;
    font-size: 16px;
}

button:hover,
button:focus {
    background-color: #396584;
    color: #fff;
}

button:before,
button:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    background: #396584;
    z-index: -1;
    transition: all .35s;
}

button:before {
    opacity: 0.5;
}

button:after {
    transition-delay: 0.2s;
}

button:hover:before,
button:hover:after {
    top: 0%;
}

#result {
    margin-top: 20px;
    background-color: #5a5a5a67;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    margin-right: 10px;
    
    background-repeat: no-repeat;
    background-position: -120px -120px, 0 0;
    background: linear-gradient(45deg, #333333, #31536a6b);
    background-size: 250% 250%, 100% 100%;
    
    transition: 0.5s;
}
#result:hover {
    background: linear-gradient(50deg, #333333, #31536a9e);
    background-position: -60px -60px, 10 10;
    background-size: 100% 100%, 30% 30%;
    transition: 0.5s;
}

#result h2 {
    color: #259ceb;
    justify-content: left;
    margin-right: 30px;
}

#result p {
    color: #e2e2e2;
    font-size: 16px;
    line-height: 1.9; 
    margin: 10px 0;
}

#result p:first-child {
    margin-top: 2%;
    margin-left: 5%;
}

#result img {
    width: 190px;
    height: auto;
    border-radius: 5px;
    margin-top: 0;
}

.anime-info {
    display: flex;
    justify-content: left;
}

.anime-info div {
    margin-top: 20px;
    max-width: 50%;
}

.anime-info img:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.anime-info img{
    transform: scale(1);
    transition: 0.3s;
}

#topResultContainer {
    display: inline-flex;
    justify-content: space-between;
    width: 100%; 
    overflow-x: auto; 
    white-space: normal;
}

#topResult {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#topResult h2 {
    color: #31536a;
    font-size:medium;
    white-space: pre-line;
}

#topResult img {
    width: 200px;
    height: 280px;
    border-radius: 5px;
    margin-top: 0;
    margin-right: 15px; 
}


#topResultContainer::-webkit-scrollbar {
    width: 12px;
}

#topResultContainer::-webkit-scrollbar-thumb {
    background-color: #3498db82;
    border-radius: 4px;
}

#topResultContainer::-webkit-scrollbar-track {
    background-color: #95cddb3e;
}

#pagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
}

#pagination button{
    padding: 10px 25px;
    border-radius: 20px;
}

.navbar {
    margin-left: 42.5%; /* Magic to make navbar Truly centered */
    margin-right: 45%;
    display: flex;
    gap: 50px;
    justify-content: center;
}
.navbar .navitem {
    display: block;
}

#navBar {
    background-color: #31536a00;
    padding: 18px;
}

#navBar ul {
    margin: 0;
    padding: 0;
}

#navBar ul:first-child {
    margin-left:12px;
}

#navBar li {
    display: inline;
    margin-right: 20px;
}

#navBar a {
    color: #040404;
    text-decoration: none;
    font-size: 20px;
    position:relative;
}

#navBar a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #5b9fcc;
    bottom: 0;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

#navBar a:hover::before{
    transform-origin: right;
    transform: scaleX(1);
}

#navBar a:hover {
    transition: 0.3s;
    color: #5b9fcc;
}

#navBar a#active {
    transition: 0.3s;
    color: #0166aa;
}


@media only screen and (max-width: 600px) {
    input, button {
        width: 100%;
    }
}
